.bodySignUp{
    display: flex;
    flex-direction: row;;
    justify-content:space-around;
    margin: 30px 25% 0 25%;
    background-color: #fff;
    height: 500px;
    border-radius: 8%;

    
}
.bodyLeftContainer{
    margin-top: 100px;
}


.facebookContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.facebookLoginButton{
    width: 130px;

}
.facebookIcon{
    padding-right: 10px;
}


.twitterContainer{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.twitterLoginButton{
    
    width: 130px;
}
.twitterIcon{
    padding-right: 10px;

}
.googleContainer{
    padding-top: 10px;
}
.googleIcon{
    padding-right: 10px;
}
.googleLoginButton{
    width: 130px;
}



.bodyContainerHr{
    display: flex;
    border-left: 2px solid rgb(189, 189, 189);
    height: 75%;
    padding-top: 50%;
    margin-top: 60px;
}
.bodyWrapperRight{
    display: flex;
    
}
.bodyRightContainer{
    font-family: serif;
    justify-content: start;
    padding-top: 70px;
    width: 100px;
    padding-right: 200px;
    
} 
.bodyUsernameContainer{
    justify-content: start;
}
.username::after{
    padding-left: 2px;
    content: "*";
    color: red;
    margin-right: 5px;
}
.bodyIconUsername{
    display: flex;
    flex-direction: row;;
    margin-top: -20px;
    color: coral;

    /* padding-right: -100px; */
    /* margin-right: -50px; */
}
.usernameInput{
    border-radius: 8px;
    border: 2px solid #ccc;
}

.bodyEmailContainer{
    width: 130px;
}
.emailText::after{
    padding-left: 2px;
    content: "*";
    color: red;
    margin-right: 5px;
}

.bodyIconEmail{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    color: coral;

}
.emailInput{
    border-radius: 8px;
    border: 2px solid #ccc;
}
.passwordText::after{
    padding-left: 2px;
    content: "*";
    color: red;
    margin-right: 5px;
}
.bodyIconPassword{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    color: coral;

}
.passwordInput{
    border-radius: 8px;
    border: 2px solid #ccc;
}
.confirmPasswordContainer{
    width: 130px;
}
.confirmPasswordText::after{
    padding-left: 2px;
    content: "*";
    color: red;
    margin-right: 5px;
}
.acceptTermsContainer{
    width: 250px;
    padding-top: 10px;
    
}
.checkboxSpan{
    color: #f16417;
    text-decoration: underline;
    cursor: pointer;
}

.signupButtonContainer{
    display: flex;
    margin-top: 10px;
    justify-content: end;
    padding-left: 45px;
    width: 150px;
}
