.body{
    padding: 10px;
    margin-top: -30px;
    position: relative;
}
.bodyWrapper{
    position: relative;

    display: grid;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}
.bodyLoginButtonContainer{
    position: relative;

    margin-top: 5px;
}
.bodyUsernameTitle{
    position: relative;

    /* display: grid;
    align-items: baseline;; */
    /* position: fixed; */
    /* text-align: left; */
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.bodyTitleContainer{
    position: relative;

    margin:0;
}

.passwordIcon{
    position: relative;

    display: flex;
    margin-bottom: 0;
}
.bodyLoginButtonContainer{
    position: relative;

    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.bodySignupContainer{
    position: relative;
    /* background-color: darkgrey; */
    display: flex;
    /* flex-direction: column;
    width: 100%; */
    justify-content: center;
}

.signupSpan{
    position: relative;

    cursor: pointer;
    color: orangered;

}