.bodySignUp{
    display: flex;
    flex-direction: row;;
    justify-content:space-around;
    margin: 30px 25% 0 25%;
    background-color: #fff;
    height: 500px;
    border-radius: 8%;
}
.bodyLeftContainer{
    margin-top: 100px;
}


.facebookContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.facebookLoginButton{
    width: 130px;

}
.facebookIcon{
    padding-right: 10px;
}


.twitterContainer{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.twitterLoginButton{
    
    width: 130px;
}
.twitterIcon{
    padding-right: 10px;

}
.googleContainer{
    padding-top: 10px;
}
.googleIcon{
    padding-right: 10px;
}
.googleLoginButton{
    width: 130px;
}



.bodyContainerHr{
    display: flex;
    border-left: 2px solid rgb(189, 189, 189);
    height: 75%;
    padding-top: 50%;
    margin-top: 60px;
}
.bodyWrapperRight{
    display: flex;
    
}
.bodyRightContainer{
    font-family: serif;
    justify-content: start;
    padding-top: 50px;
    width: 100px;
    padding-right: 200px;
    
} 
.bodyUsernameContainer{
    justify-content: start;
}
.bodyIconUsername{
    display: flex;
    flex-direction: row;;
    /* padding-right: -100px; */
    /* margin-right: -50px; */
}
.bodyEmailContainer{
    display: flex;
    flex-direction: row;
}
.bodyIconPassword{
    display: flex;
    flex-direction: row;
}
.confirmPasswordContainer{
    width: 130px;
}
.signupButtonContainer{
    display: flex;
    margin-top: 10px;
    justify-content: end;
    padding-left: 45px;
    width: 150px;
}
