.body{
    padding: 10px;
}
.bodyWrapper{
    display: grid;
    justify-content: center;
    align-items: center;
}
.bodyLoginButtonContainer{
    margin-top: 5px;
}
.bodyUsernameTitle{
    /* display: grid;
    align-items: baseline;; */
    /* position: fixed; */
    /* text-align: left; */
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.bodyTitleContainer{
    margin:0;
}




.passwordIcon{
    display: flex;
    margin-bottom: 0;
}



.signupSpan{
    color: blue;

}