
.headerSignupWrapper{
    /* margin: 10px 10; */
    /* margin-top: 70px; */
    /* position: relative; */
    display: flex;
    flex-direction: row;;
    /* height: 10%;  */
    width: 100%;
    justify-content: space-around;
    margin: 0 40px 0 40px;
}
.headerContainerLeft{
    /* height: 10px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: start;
    padding-left: 300px;

}
.headerLogoContainer{
    /* height: 4px; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.headerLogoImage{
    display: flex;
    height: 25px;
}
.headerTitle{
    color: coral;
}


.headerContainerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 400px;
}
.headerAlreadyContainer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.alreadyHaveAccount{
    padding-right: 10px;
    color: coral
}

