.header{
    /* margin: 10px 10; */
    margin-top: 70px;
    position: relative;
}
.headerWrapper{
    position: relative;
    /* width: 100%; */
    padding: 10px;
    /* flex: 3; */
    /* text-align: center; */
    display: flex !important;

    flex-direction: column ;
    /* align-items: stretch; */
    align-items: center;
    justify-content: center;
    height: 100%;
    /* margin-bottom: -20px; */

}
.headerLogoContainer{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: -20px;
    
}
.headerTitleContainer{
    position: relative;

    color: orangered;
}
.logoImage{
    position: relative;

    width: 10%;
    height: 10%;
    border-radius: 15%;
    object-fit: cover;
    margin-top: 30px;
}

